@import "tailwindcss";

@font-face {
  font-family: "Cinzel";
  src: url("./assets/fonts/Cinzel-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

    body {
    font-family: "Poppins", sans-serif;
    background: #0B0B0B;
    color: white;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel", serif;
}